{% extends "core/base.html" %}
{% block title %}{{ article.title }} - UAC{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-indigo-900">{{ article.title }}</h1>
<p class="text-gray-600 text-sm">Publié le {{ article.published_at }} par {{ article.author }}</p>
{% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="mt-4 rounded-lg">
{% endif %}
<p class="mt-4 text-gray-700">{{ article.content }}</p>

<!-- Vue compteur -->
<p class="mt-2 text-sm text-gray-500">🔹 {{ article.views }} vues</p>
{% endblock %}
