{% extends "core/base.html" %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Mentions Légales</h1>
    <p><strong>Éditeur du site :</strong></p>
    <p>Nom de l'entreprise : <strong>Usine Project</strong></p>
    <p>Adresse : 123 Rue des Industries, 75000 Paris</p>
    <p>Téléphone : +33 1 23 45 67 89</p>
    <p>Email : contact@usineproject.com</p>

    <p><strong>Directeur de publication :</strong> Jean Dupont</p>

    <p><strong>Hébergement :</strong></p>
    <p>Hébergeur : OVH</p>
    <p>Adresse : 2 Rue Kellermann, 59100 Roubaix, France</p>

    <p><strong>Propriété intellectuelle :</strong></p>
    <p>Le contenu de ce site (textes, images, logos) est protégé par le droit d’auteur et appartient à Usine Project.</p>

    <p><strong>Cookies :</strong></p>
    <p>Ce site utilise des cookies pour améliorer votre expérience utilisateur.</p>

    <p><strong>Contact :</strong></p>
    <p>Pour toute question, vous pouvez nous contacter à <a href="mailto:contact@usineproject.com">contact@usineproject.com</a>.</p>
</div>
{% endblock %}
